<div id="popupConfirmacaoWrapper" class="position-fixed top-50 start-50 translate-middle bg-white shadow p-4">

    <!-- Cabeçalho -->
    <div class="d-flex justify-content-between align-items-center mb-2">
        <h5 class="m-0 text-dark">Confirmação</h5>
        <button id="btnFecharPopupConfirmacaoTopo" type="button" class="btn-close" aria-label="Fechar"></button>
    </div>

    <hr class="my-2" />

    <!-- Mensagem de confirmação -->
    <div id="popupConfirmacaoConteudo" class="alert mb-0 text-start">
        Deseja confirmar esta ação?
    </div>

    <!-- Espaço e botões -->
    <div class="mt-4 d-flex justify-content-center gap-3">
        <button id="btnConfirmarSim" class="btn btn-success px-4">Sim</button>
        <button id="btnConfirmarNao" class="btn btn-secondary px-4">Não</button>
    </div>
</div>
