<div id="popupMensagemWrapper" class="position-fixed top-50 start-50 translate-middle bg-white shadow p-4">

    <!-- Cabeçalho -->
    <div class="d-flex justify-content-between align-items-center mb-2">
        <h5 class="m-0 text-dark">Informação</h5>
        <button id="btnFecharPopupTopo" type="button" class="btn-close" aria-label="Fechar"></button>
    </div>

    <hr class="my-2" />

    <!-- Mensagem -->
    <div id="popupMensagemConteudo" class="alert mb-0 text-start">
    </div>

    <!-- Espaço entre texto e botão -->
    <div class="mt-4 text-center">
        <button id="btnFecharPopup" class="btn btn-primary px-4">Fechar</button>
    </div>
</div>
