<div id="spinnerGlobal" class="position-fixed top-50 start-50 translate-middle" style="z-index: 2000; display: none;">
    <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
        <span class="visually-hidden">Loading...</span> <!-- Apenas para acessibilidade -->
    </div>
</div>
