<div id="spinnerGlobal" class="position-fixed top-50 start-50 translate-middle text-center"
     style="z-index: 9999; display: none;">
    <div class="bg-white p-4 border rounded shadow d-inline-flex flex-column align-items-center">
        <div class="spinner-border text-primary mb-3" role="status" style="width: 3rem; height: 3rem;"></div>
        <span class="text-dark" style="font-size: 14px; font-family: 'Montserrat', sans-serif;">
            <i class="bi bi-hourglass-split me-2 text-primary"></i>
            Carregando, por favor aguarde...
        </span>
    </div>
</div>
