@{
    ViewData["Title"] = "Página Inicial";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4">Bem-vindo ao CRM Web</h1>
            <p class="lead">Este é o seu projeto web utilizando ASP.NET Core MVC com Bootstrap 5.</p>
        </div>
    </div>
</div>
